@import url('./assets/style/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'SF UI Text', sans-serif;
}

.left-part{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./paper.jpg") no-repeat center;
  background-size: cover;
}

.logo h1, .logo span{
  font-family: 'Filson Pro', sans-serif !important;                                       
}
.w-97{
  width: 500px;
}
@media (max-width : 1280px){
  .yellow-paper{
    display: none;
  }
  form{
    justify-content: center;
  }
  h1, p{
    text-align: center;
  }
}
@media (max-width : 580px){
  .w-97{
    width: 400px;
  }
}
@media (max-width : 480px){
  .w-97{
    width: 300px;
  }
}